/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

path.line {
    fill: none;
}

.dc-chart .pie-slice :hover {
    fill-opacity: 0.8;
}

.dc-chart .selected path {
    stroke-width: 3;
    stroke: red;
    fill-opacity: 1;
}
